body {
  margin: 0;
  background-color: rgb(243, 233, 215);
}
.theHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    display: flex;
    color: darkolivegreen;
  }
}

.theFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sectionInFooter {
  display: flex;
}
